.title {
    font-size: large;
    background-color: antiquewhite;
    position:fixed;
    top: 10;
    width: 100%;
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    z-index: 100;
};